<section class="promo-banner">
  <div class="promo-banner__text">
    {{ section.settings.text }}
  </div>
</section>



{% stylesheet %}

{% endstylesheet %}


{% schema %}
{
  "name": "Promo Banner",
  "settings": [
    {
      "type": "text",
      "id": "text",
      "label": "Promo Text",
      "default": "40% PÅ TALLERKNER, OPHÆNG OG ANDRE PRODUKTER"
    }
  ],
  "presets": [
    {
      "name": "Promo Banner"
    }
  ]
}
{% endschema %}
