<section class="promo-banner">
  <div class="promo-banner__text">
    {{ section.settings.text }}
  </div>
</section>



{% stylesheet %}

.promo-banner {
  width: 100vw;
  background-color: #000; /* black background for contrast */
  color: #fff;
  padding: 1rem 2rem;
  left: 0;
  text-align: center;
  font-family: inherit;
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 0.05em;
  z-index: 1030;
  position: fixed;
  top: calc(2.5rem + 3.5rem);
  background-color: #FFEA92;
}

.promo-banner__text {
  width: 100%;
  margin: 0;
  padding: 0;
}


{% endstylesheet %}


{% schema %}
{
  "name": "Promo Banner",
  "settings": [
    {
      "type": "text",
      "id": "text",
      "label": "Promo Text",
      "default": "40% PÅ TALLERKNER, OPHÆNG OG ANDRE PRODUKTER"
    }
  ],
  "presets": [
    {
      "name": "Promo Banner"
    }
  ]
}
{% endschema %}
